.whiteSquare {
    position: relative;
    width: 17px;
    height: 20px;
    background-color: white;
    top: 4px;
    left: 3px;
}

.CardPlayable:hover {
  transition: transform 0.5s;
  transform : translateY(-50px);
}

.CardDiv {
  transition: transform 0.5s;
  transform : translateY(0px);
}
